* {
    margin: 0px;
    padding: 0px
}
.main-nav {
    background-color: rgba(117, 20, 20, 0.514);  /* Background color for the demo*/
    max-height: 65px;
}
.sub-main-nav {
    list-style-type: none;
}
.main-menu {
    display: inline-block;
    height: 65px;
    line-height: 65px;
}
.main-menu a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.navbrand {
    
}