*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}
html {
    font-family: 'Segoe UI', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem; 
}
p {
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    margin-left: 0.8rem;
}

/* 
    Predefine buttons for the users  
*/
.button {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    color: #212529;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem; 
    text-align: center;
    vertical-align: center;
    padding: 0.375rem 1rem;
    transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
}

.button-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.button-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.button-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.button-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.button-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.button-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.button-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}  
.button-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
.button-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
} 
.button-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
.button-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}  
.button-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
/* 
    Buttons with the outline fill
*/
.button-outline-primary {
    color: #007bff;
    border-color: #007bff;
}
.button-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.button-outline-success {
    color: #28a745;
    border-color: #28a745;
}  
.button-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.button-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
}  
.button-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.button-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}  
.button-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.button-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}  
.button-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.button-outline-dark {
    color: #343a40;
    border-color: #343a40;
}  
.button-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}




/* 
    For the navigation menu styling 
*/
.main-nav {
    background-color: rgba(223, 48, 48, 0.514);  /* Background color for the demo*/
    max-height: 65px;
}
.sub-main-nav {
    list-style-type: none;
}
.main-menu {
    display: inline;
    line-height: 65px;
}
.main-menu a {
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 5px 8px;
}
.aaa {
    margin-left: 1rem;
}